@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@100;400;700&display=swap');


footer {
    display: flex;
    justify-content: space-around;
    background-color: #F2F2F2;
    margin-top: 30px;
}

.about>a>p:hover {
    color: #0065FC;
}

.accommodation>a>p:hover {
    color: #0065FC;
}

.support>a>p:hover {
    color: #0065FC;
}

@media screen and (min-width: 768px) and (max-width: 992px) {
    footer {
        display: block;
        text-align: center;
        padding-left: 30px;
    }

    .about>h3 {
        padding-top: 30px;
    }
}

@media screen and (max-width: 768px) {
    footer {
        display: block;
        background-color: #F2F2F2;
        margin-top: 30px;
        padding-left: 30px;
    }

    .about>h3 {
        padding-top: 30px;
    }
}